#sidebar .main-menu > li > a {
    font-weight: 600;
}

.table > thead > tr > th {
    font-weight: 600;
}

    .table > thead > tr > th i {
        font-weight: normal;
    }

.card .card-body.card-padding {
    overflow: hidden;
}

.has-error ul li, .field-validation-error, .color-red {
    color: #f44336;
}

.epc-item {
    padding-bottom: 35px;
}

.easy-pie .pie-title {
    bottom: -32px;
}
.easy-pie .percent:after {
    content: "";
}
.table-bordered {
    border: 1px solid #f0f0f0;
}
.m-r-10 {
    margin-right: 0px !important;
}