@{
    ViewBag.Title = "Trang chủ";
}
<!-- /.row -->
<div class="row">
    <div class="col-sm-offset-2 col-sm-3">
        <div class="epc-item bgm-pink">
            <div class="easy-pie main-pie" data-percent="99">
                <div class="percent">2</div>
                <div class="pie-title"><a href="#" class="btn btn-default">Phiếu yêu cầu</a></div>
            </div>

        </div>

    </div>

    <div class="col-sm-offset-1 col-sm-3">
        <div class="epc-item bgm-orange">
            <div class="easy-pie main-pie" data-percent="99">
                <div class="percent">1</div>
                <div class="pie-title"><a href="#" class="btn btn-default">Phiếu thanh toán</a></div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->