@{
    ViewBag.Title = "Trang chủ";
}
<!-- /.row -->
<div class="row">
    <div class="col-sm-offset-3 col-sm-3">
        <div class="epc-item bgm-pink">
            <div class="easy-pie main-pie" data-percent="45">
                <div class="percent">45</div>
                <div class="pie-title">Tổng số phiếu yêu cầu đã xử lý <br /><a href="#" class="btn btn-primary">Tiếp tục xử lý</a></div>
            </div>

        </div>

    </div>

    <div class="col-sm-3">
        <div class="epc-item bgm-orange">
            <div class="easy-pie main-pie" data-percent="88">
                <div class="percent">88</div>
                <div class="pie-title">Tổng số phiếu yêu cầu thanh toán đã xử lý<br /><a href="#" class="btn btn-primary">Tiếp tục xử lý</a></div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->