<div class="row">
    <div class="col-sm-offset-2 col-sm-3">
        <a href="@Url.Action("Index","Ticket")">

            <div class="epc-item bgm-pink">
                <div class="easy-pie main-pie" data-percent="90">
                    <div class="percent">@ViewBag.ticketCount</div>
                    <div class="pie-title">
                        Phiếu yêu cầu thiết bị
                    </div>
                </div>

            </div>
        </a>
    </div>
    <a href="@Url.Action("Index","RequestBill")">
        <div class="col-sm-offset-1 col-sm-3">
            <div class="epc-item bgm-green">
                <div class="easy-pie main-pie" data-percent="90">
                    <div class="percent">@ViewBag.checkoutCount</div>
                    <div class="pie-title">Phiếu yêu cầu thanh toán</div>
                </div>
            </div>
        </div>
    </a>
</div>