<ul class="header-inner">
    <li id="menu-trigger" data-trigger="#sidebar">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs">
        <a href="/">Van Laack co, Ltd</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            <li id="toggle-width">
                <div class="toggle-switch">
                    <input id="tw-switch" type="checkbox" hidden="hidden">
                    <label for="tw-switch" class="ts-helper"></label>
                </div>
            </li>
            <li id="top-search">
                <a class="tm-search" href=""></a>
            </li>           
            <li class="dropdown">
                <a id="icon-noti" data-toggle="dropdown" class="tm-notification" href="">@Html.Raw(ViewBag.notiCount + "")</a>
                <div class="dropdown-menu dropdown-menu-lg pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notification

                            <ul class="actions">
                                <li class="dropdown">
                                    <a href="" data-clear="notification" id="clear-noti"><i class="md md-done-all"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div id="ListNoti" class="lv-body c-overflow" tabindex="2" style="overflow: hidden; outline: none;">
                            @*Put list notification here*@
                        </div>

                        @*<a class="lv-footer" href="@(Url.Action("ListNotification", "Home"))">Cũ hơn</a>*@
                    </div>

                    <div id="ascrail2003" class="nicescroll-rails nicescroll-rails-vr" style="width: 0px; z-index: 9; cursor: default; position: absolute; top: 0px; left: 298px; height: 275px; display: none;"><div class="nicescroll-cursors" style="position: relative; top: 0px; float: right; width: 0px; height: 0px; border: 0px; border-radius: 0px; background-color: rgba(0, 0, 0, 0.498039); background-clip: padding-box;"></div></div><div id="ascrail2003-hr" class="nicescroll-rails nicescroll-rails-hr" style="height: 0px; z-index: 9; top: 275px; left: 0px; position: absolute; cursor: default; display: none;"><div class="nicescroll-cursors" style="position: absolute; top: 0px; height: 0px; width: 0px; border: 0px; border-radius: 0px; background-color: rgba(0, 0, 0, 0.498039); background-clip: padding-box;"></div></div>
                </div>
            </li>            
            <li class="dropdown">
                <a data-toggle="dropdown" class="tm-settings" href=""></a>
                <ul class="dropdown-menu dm-icon pull-right">
                    <li>
                        <a href="@Url.Action("Create", "Ticket")"><i class="md md-check"></i> Tạo phiếu yêu cầu</a>
                    </li>
                    <li>
                        <a data-action="fullscreen" href=""><i class="md md-fullscreen"></i> Toggle Fullscreen</a>
                    </li>
                    <li>
                        <a href="#modalDefault" class="Changpassword"><i class="md md-person"></i> Đổi mật khẩu</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout", "Account")"><i class="md md-history"></i> Đăng xuất</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>