@model List<WebLib.Models.fwRole>

@{
    ViewBag.Title = ViewBag.groupTitle;
    var lst = (List<int>)ViewBag.LstRole;
}
@section scripts{
    <script>
        // Gọi hàm này để sử dụng checkAll chỉ cho class được thêm vào
        checkAllByClassName("ListCheckBox");
    </script>
}

<div class="ListCheckBox">
    @foreach (var item in Model)
    {
        string s = "";
        if (lst.Contains(item.ID))
        {
            s = "checked ='checked'";
        }
        <div class="checkbox">
            <label>
                <input type="checkbox" name="checkall" @s value="@item.ID" class="checkItem" />
                <i class="input-helper"></i>
                @item.Title
            </label>
        </div>
        <br />
    }
    @using (Html.BeginForm("AddRoleToMenu", "WebLib"))
    {
        @Html.Hidden("listID")
        @Html.Hidden("groupID", (int)ViewBag.groupID)
        <button type="submit" name="submit" class="btn btn-primary" onclick="return getListID('ListCheckBox','listID');">Save</button>
        <a href="javascript:void(0)" onclick="history.back()" class="btn btn-default">Hủy</a>
    }
</div>